/* A pseudoclass to select the root element of the document to store a variable to use within the rest of the code */
:root {
    --main-color: #212529;
}

* {
    font-family: "Overpass", sans-serif;
}

body {
    min-width: 100%;
}
/* Element selector to style the header of the page */
header {
    display: flex;
    min-height: 150px;
    min-width: 100%;
    background-color: var(--main-color);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

header h1 {
    order: 1;
    font-size: 75px;
    color: #DEE2E6;
    flex: 0 1 auto;
}

header #self-photo {
    margin: 10px;
    height: 150px;
    width: auto;
    border: 2px solid black;
    border-radius: 75px;
    flex: 0 1 auto;

}

header nav {
    order: 2;
}

header nav ul li {
    display: inline;
    padding: 10px;
    color: black;


}

header nav ul li a {
    font-size: 20px;
    color: #DEE2E6;
    flex: 0 1 auto;
}
/* Heading element selectors to adjust the size of the heading fonts */
h2 {
    font-size: 50px;
    margin: 20px;
}

h3 {
    font-size: 30px;

}

/* ID selector to adjust the size of a specific image */
#Lucy-mike {
    max-height: 300px;
    border-radius: 30px;
}
/* ID selector to style just the "about-me" section */
#about-me {
    border: 1px solid var(--main-color);
    padding: 20px;
    display: flex;
    background-color: #343A40;
    color: white;
    font-size: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#about-me p {
    line-height: 30px;
    max-width: 50%;
}

/* Class selector to style just the "projects" section */
.projects {
    display: flex;
    flex-direction: row;
    background-color: #495057;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
}

/* Class selector with a pseudoclass to style just the first element with the class "card" */
.card:first-of-type {
    padding: 0 50px 0 50px;
    min-width: 100%;
    max-height: 600px;

}
/* Class selector to style all things within the "card" class */
.card {
    background-color: #6C757D;
    border: 2px solid var(--main-color);
    width: 50%;
    max-height: 400px;
    overflow: hidden;

}

.card a {
    display: block;
}

.card img {
    max-width: 100%;
}

.card h3 {
    margin: 10px;
    text-align: center;
}
/* ID selector to style the "contact-me" section */
#contact-me {
    padding: 10px;
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#contact-me h2 {
    font-size: 35px;
}

#contact-me ul li a {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* Element selector to style the footer */
footer {
    padding: 5px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    color: white;
    border: 3px solid var(--main-color);
    min-width: 100%;
}